.responsive-menu{
    position: fixed;
    top: 12vh;
    right: 0;
    width: 250px;
    height: 400px;
    background: var(--accentColor);
    transition: all 0.25s;
    z-index: 1000;
    border-radius: var(--borderRadiusOne);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > ul, .subscribe{
        width: 100%;
        height: 50%;
        padding: 1rem;
        border: 1px solid var(--borderColor);
        border-radius: var(--borderRadiusOne);
    }

    > ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        a{
          font-weight: 600;
          font-size: 20px;

          &.active, &:hover{
            color: var(--accentColorSecondary);
          }
        }
    }

    .subscribe-box{
        > p{
            font-size: 25px;
            margin-bottom: 1rem;
            font-weight: 600;
        }
    }
}