.responsive-menu{
    position: fixed;
    top: 12vh;
    right: 0;
    width: 250px;
    height: 400px;
    background: var(--fontColor);
    transition: all 0.25s;
    z-index: 1000;
    border-radius: var(--borderRadiusOne);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 50%;
        padding: 1rem;
        border: 1px solid var(--borderColor);
        border-radius: var(--borderRadiusOne);

        a{
          font-weight: 600;
          font-size: 20px;
          color: var(--fontColorThird);
          transition: all 0.1s ease-in-out;

          &.active, &:hover{
            color: var(--accentColor);
            padding-left: 0.75em;
          }
        }
    }

    .form-container{
        border-radius: var(--borderRadiusOne);
        height: 50%;
    }
}