.form-container{
    background: var(--fontColor);
    border-radius: var(--borderRadiusTwo);
    border: 1px solid var(--borderColor);
    padding: 1rem;
    display: grid;
    gap: 1rem;

    > h3{
        padding-bottom: 1rem;
        padding-right: 0;
        border-bottom: 1px solid var(--borderColor);
    }

    > p{
        color: var(--fontColorThird);
    }
    
    form{
        display: flex;
        justify-content: space-between;
        background: var(--fontColorSec);
        border-radius: var(--borderRadiusTwo);
        overflow: hidden;

        > input{
            padding-block: 0.5em;
            padding-inline-start: 0.5em;
            border: none;
            width: 100%;

            &:focus{
                border: none;
                outline: none;
            }
        }

        > button{
            color: var(--fontColorThird);
            border: 0;
            height: 100%;
            aspect-ratio: 1;
            padding: 0;
            border-top-right-radius: var(--borderRadiusTwo);
            border-bottom-right-radius: var(--borderRadiusTwo);

            &:hover{
                background: blue;
                color: var(--fontColorSec);
            }
        }
    }
}