@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root{
  --paddingInline: 5vw;
  --heightNav: 12vh;

  --fontColor: #dbdbe1;
  --fontColorSec: #fff;
  --fontColorThird: #000;
  --accentColor: #4256f4;
  --accentColorSecondary: #b3fe58;
  --borderColor: #5c5c5c;

  --boxBackgroundColor: rgb(66, 86, 244, 0.2);
  --boxBackgroundBlur: blur(5px);
  --borderRadiusOne: 15px;
  --borderRadiusTwo: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(189, 189, 189);
}

::selection{
  color: var(--fontColorThird);
  background: var(--accentColorSecondary)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}

body{
  color: var(--fontColor);
  background: #000;
  background-image: radial-gradient(75.53% 100.65% at 50% 145.96%,#241ea9 0,rgba(33, 21, 64, 0) 100%);
  background-size: cover;
  background-attachment: fixed;
}

.canvas{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

main{
  padding-top: var(--heightNav);
  padding-inline: var(--paddingInline);
  min-height: 100vh;
}

a{
  color: var(--fontColorSec);
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0.55em 1.5em;
  border-radius: 30px;
  cursor: pointer;
  background: none;
  color: var(--fontColor);
  border: 1px solid var(--fontColor);
}