.glass-box-wrapper{
    height: 250px;
    width: 65%;
    background: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;

    @media(max-width: 1245px){
        width: 80%;
    }

    .glass-box-container{
        height: 100%;
        width: 50%;
        border-right: 1px solid var(--accentColor);

        > h3{
            font-size: clamp(1rem, 0.4531rem + 1.75vw, 1.4375rem);
            color: var(--fontColor);

            > span{
                font-size: clamp(1.25rem, 0.4688rem + 2.5vw, 1.875rem);
                font-weight: 700;
            }
        }

        > a{
            background: var(--accentColorSecondary);
            max-width: max-content;
            color: var(--fontColorThird);
            padding: 0.5em 1.2em;
            border-radius: 30px;
            margin: auto;
        }
    }

    > img{
        height: 100%;
        width: 50%;
        object-fit: cover;
    }
}