.tab-wrapper{
    width: 50%;
    margin-top: 2.5rem;
    margin-inline: auto;

    @media (max-width: 1024px){
        width: 70%
    }

    @media (max-width: 768px){
        width: 90%
    }
}