nav{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--heightNav);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--paddingInline);
    backdrop-filter: blur(10px);
    z-index: 1000;

    .logo{
        font-weight: 600;
        font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
        display: flex;

        > div{
            height: 25px;
            aspect-ratio: 1;
            top: 25%;
            margin-right: 0.5rem;

            > img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    ul{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}