nav{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--heightNav);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--paddingInline);
    backdrop-filter: blur(10px);
    z-index: 1000;

    .logo{
        font-weight: 600;
        font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
        display: flex;

        > div{
            height: 25px;
            aspect-ratio: 1;
            top: 25%;
            margin-right: 0.5rem;

            > img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    ul{
        display: flex;
        align-items: center;
        gap: 2rem;

        > a{
            padding: 0.55em 1.5em;
            border-radius: 30px;

            &:nth-child(1){
                position: relative;
                background: var(--accentColor);
                border: 1px solid var(--accentColor);
            }

            &:not(:first-child){
                border: 1px solid white;
            }
        }
    }
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-block: 0.55em;
    padding-inline: 1.5em 0.9em;
    border-radius: 30px;
    border: 1px solid var(--fontColor);
    color: var(--fontColor);
    background: none;
    cursor: pointer;
    
    > .icon{
        transition: 0.1s;
    }

    &:hover > .icon{
        rotate: 90deg;
    }
}

@media(max-width: 600px){
    .subscribe{
        display: none;
    }
}

@media(max-width: 400px){
    .icon, .iconSecondary{
        display: none;
    }

    button {
        padding-inline: 0.9em;
        border: none;
    }
}